{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center" style="display: flex; align-items: center; justify-content: center; height: 40vh; margin-bottom: 0px; background:linear-gradient(0deg,rgba(0,0,0,0.2),rgba(0,0,0,0.4)),url(https://images.unsplash.com/photo-1508501184302-bcac77f780c8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=13a907cbb9d5c0240f2c79f9daee234a&auto=format&fit=crop&w=1655&q=80); background-size: cover; color: white">
  <div class="container">
    <h1 class="display-4">{{business.name}}</h1>
    <h5 class ="lead">{{business.address}}</h5>
    <h5 class ="lead">{{business.review_count}} Reviews</h5>
  </div>
</div>

<div class="large-2 columns">&nbsp;</div>

<!-- <div class = "container list-group list-group-flush"> -->
  <!-- <h2 class="text-center"><span class="label label-danger">About {{business.name}}</span></h2> -->
    <!-- <div class="list-group-item list-group-item-action d-flex w-100 justify-content-between"> -->
      <!-- <small>{{business}}</small> -->
  <!-- <h5 class="text-center">Address:{{business.address}}, {{business.city}}, {{business.state}}, {{business.postal_code}} </h5>
  <h5 class="text-center">Number of Yelp Reviews: {{business.review_count}} </h5> -->
    <!-- </div> -->
<!-- </div> -->

<div class="container" style="margin-top:30px;margin-bottom:30px;">
  <div class="card-deck">
    <div class="card col-md-6 text-center">
      <div class="card-body">
          <h4>MYelp Overall</h4>
          <h5>
            {%for i in range((overall_ave-0.5)|round|int)%}
              <i class="fas fa-star" style="color:CRIMSON; border-width: 1px;"></i>
            {% endfor %}
            {%if (overall_ave|round|int) > overall_ave%}
              <i class="fas fa-star-half" aria-hidden="true" style="color:CRIMSON; border-radius: 1px;"></i>
            {% endif %}
          </h5>
        </div>
    </div>

    <div class="card col-md-6 text-center">
      <div class="card-body">
          <h4>Yelp Overall</h4>
          <h5>
            {%for i in range((business.stars-0.5)|round|int)%}
              <i class="fas fa-star" style="color:BLACK; border-width: 1px;"></i>
            {% endfor %}
            {%if (business.stars|round|int) > business.stars%}
              <i class="fas fa-star-half" aria-hidden="true" style="color:BLACK; border-radius: 1px;"></i>
            {% endif %}
          </h5>
        </div>
    </div>
  </div>
  <br />
  <div class="card-deck">
    <div class="card col-md-4 text-center">
      <div class="card-body">
          <h5>Food <i class="icon ion-android-restaurant"></i></h5>
          <p>
            {%for i in range((category_ave[0]-0.5)|round|int)%}
              <i class="fas fa-star" style="color:CRIMSON; border-width: 1px;"></i>
            {% endfor %}
            {%if (category_ave[0]|round|int) > category_ave[0]%}
              <i class="fas fa-star-half" aria-hidden="true" style="color:CRIMSON; border-radius: 1px;"></i>
            {% endif %}
          </p>
        </div>
    </div>

    <div class="card col-md-4 text-center">
      <div class="card-body">
          <h5>Ambiance <i class="icon ion-ios-flower-outline"></i></h5>
          <p>
            {%for i in range((category_ave[1]-0.5)|round|int)%}
              <i class="fas fa-star" style="color:CRIMSON; border-width: 1px;"></i>
            {% endfor %}
            {%if (category_ave[1]|round|int) > category_ave[1]%}
              <i class="fas fa-star-half" aria-hidden="true" style="color:CRIMSON; border-radius: 1px;"></i>
            {% endif %}
          </p>
        </div>
    </div>

    <div class="card col-md-4 text-center">
      <div class="card-body">
          <h5>Price <i class="icon ion-social-usd"></i></h5>
          <p>
            {%for i in range((category_ave[2]-0.5)|round|int)%}
              <i class="fas fa-star" style="color:CRIMSON; border-width: 1px;"></i>
            {% endfor %}
            {%if (category_ave[2]|round|int) > category_ave[2]%}
              <i class="fas fa-star-half" aria-hidden="true" style="color:CRIMSON; border-radius: 1px;"></i>
            {% endif %}
          </p>
        </div>
    </div>

    <div class="card col-md-4 text-center">
      <div class="card-body">
          <h5>Service <i class="icon ion-bowtie"></i></h5>
          <p>
            {%for i in range((category_ave[3]-0.5)|round|int)%}
              <i class="fas fa-star" style="color:CRIMSON; border-width: 1px;"></i>
            {% endfor %}
            {%if (category_ave[3]|round|int) > category_ave[3]%}
              <i class="fas fa-star-half" aria-hidden="true" style="color:CRIMSON; border-radius: 1px;"></i>
            {% endif %}
          </p>
        </div>
    </div>
  </div>
</div>

  <br />

  <div class="container">
    <h4> 5/{{business.review_count}} Sample Reviews </h4>
    {% for i in range(5) %}
    <hr>
      <div class="row">
        <div class="col-md-8">
          <p>{{reviews[i].text}}</p>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
          <h6>
            {%if overall_list[i] is number%}
              {%for i in range((overall_list[i]-0.5)|round|int)%}
                <i class="fas fa-star" style="color:CRIMSON; border-width: 1px;"></i>
              {% endfor %}
              {%if (overall_list[i]|round|int) > overall_list[i]%}
                <i class="fas fa-star-half" aria-hidden="true" style="color:CRIMSON; border-radius: 1px;"></i>
              {% endif %}
            {% endif %}
          </h6>
          <h6>
            {%if reviews[i].stars is number%}
              {%for i in range((reviews[i].stars-0.5)|round|int)%}
                <i class="fas fa-star" style="color:BLACK; border-width: 1px;"></i>
              {% endfor %}
              {%if (reviews[i].stars|round|int) > reviews[i].stars%}
                <i class="fas fa-star-half" aria-hidden="true" style="color:BLACK; border-radius: 1px;"></i>
              {% endif %}
            {% endif %}
          </h6>
          <hr />
          <small>
            <i class="icon ion-android-restaurant"></i>
            {%if category_list[i][0] is number%}
              {%for i in range((category_list[i][0]-0.5)|round|int)%}
                <i class="fas fa-star" style="color:CRIMSON; border-width: 1px;"></i>
              {% endfor %}
              {%if (category_list[i][0]|round|int) > category_list[i][0]%}
                <i class="fas fa-star-half" aria-hidden="true" style="color:CRIMSON; border-radius: 1px;"></i>
              {% endif %}
            {% endif %}
          </small>
          <br />
          <small>
            <i class="icon ion-ios-flower-outline"></i>
            {%if category_list[i][1] is number%}
              {%for i in range((category_list[i][1]-0.5)|round|int)%}
                <i class="fas fa-star" style="color:CRIMSON; border-width: 1px;"></i>
              {% endfor %}
              {%if (category_list[i][1]|round|int) > category_list[i][1]%}
                <i class="fas fa-star-half" aria-hidden="true" style="color:CRIMSON; border-radius: 1px;"></i>
              {% endif %}
            {% endif %}
          </small>
          <br />
          <small>
            <i class="icon ion-social-usd"></i>
            {%if category_list[i][2] is number%}
              {%for i in range((category_list[i][2]-0.5)|round|int)%}
                <i class="fas fa-star" style="color:CRIMSON; border-width: 1px;"></i>
              {% endfor %}
              {%if (category_list[i][2]|round|int) > category_list[i][2]%}
                <i class="fas fa-star-half" aria-hidden="true" style="color:CRIMSON; border-radius: 1px;"></i>
              {% endif %}
            {% endif %}
          </small>
          <br />
          <small>
            <i class="icon ion-bowtie"></i>
            {%if category_list[i][3] is number%}
              {%for i in range((category_list[i][3]-0.5)|round|int)%}
                <i class="fas fa-star" style="color:CRIMSON; border-width: 1px;"></i>
              {% endfor %}
              {%if (category_list[i][3]|round|int) > category_list[i][3]%}
                <i class="fas fa-star-half" aria-hidden="true" style="color:CRIMSON; border-radius: 1px;"></i>
              {% endif %}
            {% endif %}
          </small>
        </div>
      </div>
    {% endfor %}
</div>

<br />
<br />

<div class="jumbatron text-center" style="display: flex; align-items: center; justify-content: center;height: 30vh; margin-bottom: 0px; background:linear-gradient(0deg,rgba(0,0,0,0.2),rgba(0,0,0,0.4)),url(https://images.unsplash.com/photo-1504283708523-52171518259f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9f0c96eda316c8a6110c93ee9397ad22&auto=format&fit=crop&w=2549&q=80); background-size: cover; color: white ">
  <h1 class="display-4">The "MYelp" Difference</h1>
</div>

<br />

<div class = "container">
  <p class="lead">Our algorithm does not just provide overall star ratings like Yelp does - it uses NLP to generate specific ratings for categories that are important to users - Food, Ambiance, Price, and Service. MYelp does this by generating category ratings for each individual review based on a sentiment analysis algorithm, and then averaging these values. Above, you can see MYelp's Overall Ratings for 5 out of {{business.review_count}} existing reviews for {{business.name}}. You can also see MYelp's overall cateogry ratings for {{business.name}}, which are calculated by averaging the above values for each of the {{business.review_count}} existing reviews. With all calculated average scores there are also standard deviation values as stated below. </p>
  <ul class="list-group">
    <li class="list-group-item">MYelp Overall Rating Standard Deviation: {{overall_std}} </li>
    <li class="list-group-item">Food Category Rating Standard Deviation: {{category_std[0]}} </li>
    <li class="list-group-item">Ambiance Category Rating Standard Deviation: {{category_std[1]}} </li>
    <li class="list-group-item">Price Category Rating Standard Deviation: {{category_std[2]}} </li>
    <li class="list-group-item">Service Category Rating Standard Deviation: {{category_std[3]}} </li>
  </ul>
</div>
{% endblock %}
