{% extends 'layout.html' %}

{% block body %}
  <div class="container-full-bg jumbotron text-center">
    <hr />
      <h1 class="mb-1">{{business.name}}</h1>
      <h4 class="mb-1">{{business.address}}</h4>
      <h5>{{business.stars}}/5</h5>
      <h5>{{business.review_count}} Reviews</h5>
    </div>
    <hr />
  </div>
  <div class = "container list-group list-group-flush">
    <h5>Business JSON:</h5>
    <div class="list-group-item list-group-item-action d-flex w-100 justify-content-between">
      <small>{{business}}</small>
    </div>
  </div>
  <br />
  <div class = "container list-group list-group-flush">
    <h5>First 3 Review JSONS:</h5>
    <!--GET ALL REVIEWS WITH {{reviews}}-->
    {% for review in reviews[:3] %}
    <div class="list-group-item list-group-item-action d-flex w-100 justify-content-between">
      <small>{{review}}</small>
    </div>
    {% endfor %}
  </div>
{% endblock %}
