{% extends 'layout.html' %}

{% block body %}
  <div class="container-full-bg jumbotron text-center">
    <hr />
      <h1 class="mb-1">{{business.name}}</h1>
      <h4 class="mb-1">{{business.address}}</h4>
      <h5>{{business.stars}}/5</h5>
      <h5>{{business.review_count}} Reviews</h5>
    </div>
    <hr />
  </div>
  <div class = "container list-group list-group-flush">
    <h5>Business JSON:</h5>
    <div class="list-group-item list-group-item-action d-flex w-100 justify-content-between">
      <small>{{business}}</small>
    </div>
  </div>
  <br />
  <div class = "container list-group list-group-flush">
    <h5>First 3 Review JSONS:</h5>
    <!--GET ALL REVIEWS WITH {{reviews}}-->
    {% for review in reviews %}
    <div class="list-group-item list-group-item-action d-flex w-100 justify-content-between">
      <small>{{review}}</small>
    </div>
    {% endfor %}
  </div>
  <br />

  <div class = "container list-group list-group-flush">
    <h5>Overall Star Rating (Average):</h5>
    <!--GET ALL REVIEWS WITH {{reviews}}-->
    <div class="list-group-item list-group-item-action d-flex w-100 justify-content-between">
      <small>{{overall_ave}}</small>
    </div>
  </div>
  <br />

  <div class ="container text-center">
    <h4>OVERALL RATINGS: Overall Star Ratings using our NLP</h4>
  </div>

  <div class = "container list-group list-group-flush">
    <h5>Overall Star Rating (Standard Deviation):</h5>
    <!--GET ALL REVIEWS WITH {{reviews}}-->
    <div class="list-group-item list-group-item-action d-flex w-100 justify-content-between">
      <small>{{overall_std}}</small>
    </div>
  </div>
  <br />
  <div class = "container list-group list-group-flush">
    <h5>Overall Star Rating (List):</h5>
    <!--GET ALL REVIEWS WITH {{reviews}}-->
    <div class="list-group-item list-group-item-action d-flex w-100 justify-content-between">
      <small>{{overall_list}}</small>
    </div>
  </div>
  <br />

  <div class ="container text-center">
    <h4>CATEGORY RATINGS: Ratings using our NLP for 4 categories specific to restaraunts... but yelp doesn't specify in their review ratings for these specific categories ['Food', 'Ambiance', 'Price', 'Service']</h4>
  </div>

  <div class = "container list-group list-group-flush">
    <h5>Category Star Ratings (Average):</h5>
    <!--GET ALL REVIEWS WITH {{reviews}}-->
    <div class="list-group-item list-group-item-action d-flex w-100 justify-content-between">
      <small>{{category_ave}}</small>
    </div>
  </div>
  <br />
  <div class = "container list-group list-group-flush">
    <h5>Category Star Ratings (Standard Deviation):</h5>
    <!--GET ALL REVIEWS WITH {{reviews}}-->
    <div class="list-group-item list-group-item-action d-flex w-100 justify-content-between">
      <small>{{category_std}}</small>
    </div>
  </div>
  <br />
  <div class = "container list-group list-group-flush">
    <h5>Category Star Rating (List, All {{business.review_count}} Reviews):</h5>
    <!--GET ALL REVIEWS WITH {{reviews}}-->
    <div class="list-group-item list-group-item-action d-flex w-100 justify-content-between">
      <small>{{category_list}}</small>
    </div>
  </div>
  <br />
{% endblock %}
