{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center" style="display: flex; align-items: center; justify-content: center; height: 40vh; margin-bottom: 0px; background:linear-gradient(0deg,rgba(0,0,0,0.2),rgba(0,0,0,0.4)),url(https://images.unsplash.com/photo-1516650688078-ed219a2c29ea?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=10719153149d758eb6abe772b5d6ac6d&auto=format&fit=crop&w=1350&q=80); background-size: cover; color: white">
    <div>
      <h1 class ="display-4">Restaurants</h1>
      <small>Photo by <a style="color:LIGHTYELLOW;" href="https://unsplash.com/photos/hrlvr2ZlUNk">Rachel Park</a> on <a style="color:LIGHTYELLOW;" href="https://unsplash.com/">Unsplash</a></small>
    </div>
  </div>
  <br />
  <div class="container">
      {% for business in businesses %}
        {% if loop.index0 %2 == 0 %}
        <div class ="card-deck" style="margin-top:30px;">
        {% endif %}
          <div class="card col-md-6">
            <div class="card-body">
              <a href="restaurants/{{business.business_id}}"><h4 style="color:#d9534f">{{business.name}}</h4></a>
              <p class="card-text">{{business.address}}</p>
              <!--<p class="card-text">Rating (TOREMOVE) {{business.stars}}</p>-->
            <hr>
            <div class="row">
              <div class="col-md-3">
                MYelp
              </div>
              <div class="col-md-9">
                {%for i in range((ovscores[loop.index0]-0.5)|round|int)%}
                  <i class="fas fa-star" style="color:CRIMSON; border-width: 1px;"></i>
                {% endfor %}
                {%if (ovscores[loop.index0]|round|int) > ovscores[loop.index0]%}
                  <i class="fas fa-star-half" aria-hidden="true" style="color:CRIMSON; border-radius: 1px;"></i>
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                Yelp
              </div>
              <div class="col-md-9">
                {%for i in range((business.stars-0.5)|round|int)%}
                  <i class="fas fa-star" style="color:BLACK; border-width: 1px;"></i>
                {% endfor %}
                {%if (business.stars|round|int) > business.stars%}
                  <i class="fas fa-star-half" aria-hidden="true" style="color:BLACK; border-radius: 1px;"></i>
                {% endif %}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-3">
                <small>Food</small>
              </div>
              <div class="col-md-3">
                <small>
                  {%for i in range((catscores[loop.index0][0]-0.5)|round|int)%}
                    <i class="fas fa-star" style="color:CRIMSON; border-width: 1px;"></i>
                  {% endfor %}
                  {%if ((catscores[loop.index0][0]|round|int) > catscores[loop.index0])[0]%}
                    <i class="fas fa-star-half" aria-hidden="true" style="color:CRIMSON; border-radius: 1px;"></i>
                  {% endif %}
                </small>
              </div>
              <div class="col-md-3">
                <small>Ambiance</small>
              </div>
              <div class="col-md-3" style="align-self:flex-end;">
                <small>
                  {%for i in range((catscores[loop.index0][1]-0.5)|round|int)%}
                    <i class="fas fa-star" style="color:CRIMSON; border-width: 1px;"></i>
                  {% endfor %}
                  {%if ((catscores[loop.index0][1]|round|int) > catscores[loop.index0][1])%}
                    <i class="fas fa-star-half" aria-hidden="true" style="color:CRIMSON; border-radius: 1px;"></i>
                  {% endif %}
                </small>
              </div>
            </div>
              <div class="row">
                <div class="col-md-3">
                  <small>Price</small>
                </div>
                <div class="col-md-3">
                  <small>
                    {%for i in range((catscores[loop.index0][2]-0.5)|round|int)%}
                      <i class="fas fa-star" style="color:CRIMSON; border-width: 1px;"></i>
                    {% endfor %}
                    {%if ((catscores[loop.index0][2]|round|int) > catscores[loop.index0][2])%}
                      <i class="fas fa-star-half" aria-hidden="true" style="color:CRIMSON; border-radius: 1px;"></i>
                    {% endif %}
                  </small>
                </div>
                <div class="col-md-3">
                  <small>Service</small>
                </div>
                <div class="col-md-3">
                  <small>
                    {%for i in range((catscores[loop.index0][3]-0.5)|round|int)%}
                      <i class="fas fa-star" style="color:CRIMSON; border-width: 1px;"></i>
                    {% endfor %}
                    {%if ((catscores[loop.index0][3]|round|int) > catscores[loop.index0][3])%}
                      <i class="fas fa-star-half" aria-hidden="true" style="color:CRIMSON; border-radius: 1px;"></i>
                    {% endif %}
                  </small>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <small>{{business.review_count}} Reviews </small>
            </div>
          </div>
        {% if loop.index0 %2 == 1 %}
        </div>
        {% endif %}
      {% endfor %}
  </div>
{% endblock %}
